.task_section {
    display: grid;
    grid-template-columns: 1fr minmax(100px, 200px);
    align-items: center;
    gap: 10px;
}

.task_section__task_list {
    grid-column: 1 / 3;
}

.modal_form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

.list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
