@use "/src/styles/variables" as *;

.studentProfile {
    background: $color-white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // flex-grow: 1;
    // grid-gap: 10px;
    // grid-template-columns: 1fr 2fr;
    font-size: 20px;
}

.studentData {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.closestDeadlines {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.studentDataSection {
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 3px;
    max-width: fit-content;
}

.studentStatistics {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: auto;
    max-height: 80vh;
}

.progressCircle {
    padding: 15%;
}

.statsAndDeadlines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.studentsDataSectionItemsList {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 80vw;
}

.subjectsList {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 40vh;
}
